body {
  background-color: #272c33;
  display: flex;
  justify-content: center;
}
.App {
  display: flex;
}

.Counter {
  margin: 10px;
  border: 3px solid #6ce4f9;
  border-radius: 5px;
}
.ResultBlock {
  margin: 10px;
  border: 3px solid #6ce4f9;
  border-radius: 5px;
  background-color: #6ce4f9;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
}
.Result {
  padding: 10px;
  font-size: 42px;
}
.ResultRed {
  color: red;
  padding: 10px;
  font-size: 42px;
}

.ButtonBlock {
  margin: 10px;
  border: 3px solid #6ce4f9;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.Button {
  font-size: 20px;
  margin: 10px;
  border: 1px solid #6ce4f9;
  border-radius: 5px;
  background-color: #6ce4f9;
  font-weight: 700;
}
.ButtonReset {
  font-size: 20px;
  margin: 10px;
  border: 1px solid #6ce4f9;
  border-radius: 5px;
  background-color: #6ce4f9;
  font-weight: 700;
}

.Setter {
  margin: 10px;
  border: 3px solid #6ce4f9;
  border-radius: 5px;
}
.SetterInputs {
  display: flex;
  flex-direction: column;
  color: #6ce4f9;
  margin: 10px;
  border: 3px solid #6ce4f9;
  border-radius: 5px;
  background-color: #272c33;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  width: 400px;
}

.SetterInputs input {
  width: 100px;
}
.InputElement {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
